<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.2.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.0.1" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Enums.NET" version="4.0.1" targetFramework="net472" />
  <package id="EPPlus" version="7.0.8" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime" version="200.7.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="200.7.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.Toolkit" version="100.15.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.Toolkit.WPF" version="200.7.0" targetFramework="net472" />
  <package id="Esri.ArcGISRuntime.WPF" version="200.7.0" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net472" />
  <package id="FFmpeg.AutoGen" version="3.4.0.5" targetFramework="net472" />
  <package id="GMap.NET.Core" version="2.1.7" targetFramework="net472" />
  <package id="GMap.NET.WindowsForms" version="1.7.5" targetFramework="net472" />
  <package id="Markdig" version="0.31.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="5.2.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="5.2.1" targetFramework="net472" />
  <package id="MathNet.Numerics.Signed" version="4.15.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.11.0.20250507" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.11.0.20250507" targetFramework="net472" />
  <package id="SharpGL" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.WinForms" version="3.1.1" targetFramework="net472" />
  <package id="SharpZipLib" version="1.3.3" targetFramework="net472" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.4" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SqlClient" version="4.8.3" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.Memory" version="4.6.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Xml" version="6.0.1" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
</packages>